<!-- 

<div class="container" style="width:400px">
	<div style="color: blue; margin-bottom: 20px">
	  <h1>Upload Records</h1>
	  
	</div>
  
	<form-upload></form-upload>
  
	<br/>
	<br/>
	<h3>My Records</h3>
	<list-upload></list-upload>
	</div> -->


	<!-- <mat-card class="example-card">
		<mat-card-header>
			<mat-card-title>Prescription</mat-card-title>
			<mat-card-subtitle>See your list of prescription</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
		<mat-card-content>
			<p>
				List of Prescription
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>Click here</button>
		</mat-card-actions>
	</mat-card>

	<mat-card class="example-card">
		<mat-card-header>
			<mat-card-title>List of Reprots</mat-card-title>
			<mat-card-subtitle>See your list of reports</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
		<mat-card-content>
			<p>
				List of Reports
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>Click here</button>
		</mat-card-actions>
	</mat-card>

	<mat-card class="example-card">
		<mat-card-header>
			<mat-card-title>Add Reports</mat-card-title>
			<mat-card-subtitle>Add Reports to your list</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="https://www.google.co.in/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F0%2F03%2FPlus_sign_font_awesome.svg%2F2000px-Plus_sign_font_awesome.svg.png&imgrefurl=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3APlus_sign_font_awesome.svg&docid=-CwVo-NJ8MD_BM&tbnid=Cb89xevWf0eh6M%3A&vet=10ahUKEwjPs4KBu8vdAhUCbn0KHQccAL8QMwg_KAQwBA..i&w=2000&h=2000&bih=678&biw=1478&q=upload%20plus%20sign&ved=0ahUKEwjPs4KBu8vdAhUCbn0KHQccAL8QMwg_KAQwBA&iact=mrc&uact=8" alt="Photo of a Shiba Inu">
		<mat-card-content>
			<p>
				Add Reports
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>Click here</button>
		</mat-card-actions>
	</mat-card> -->



	<div class="mainCard">
		<div class="col-sm-3 display">
				<mat-card class="example-card">
						<mat-card-header>
								<mat-card-title><h3>Prescription</h3></mat-card-title>

						</mat-card-header>
						<img mat-card-image src="../../src/assets/2.jpg">
						<mat-card-content>
								<p>
										See the prescription uploaded by doctor
								</p>
						</mat-card-content>
						<mat-card-actions>
							<button mat-button>Click here</button>
						</mat-card-actions>
				</mat-card>

		</div>

		<div class="mainCard">
			<div class="col-sm-3 display">
					<mat-card class="example-card">
							<mat-card-header>
									<mat-card-title><h3>Family Records</h3></mat-card-title>
	
							</mat-card-header>
							<img mat-card-image src="../../src/assets/4.jpg">
							<mat-card-content>
									<p>
											List of record off family members.
									</p>
							</mat-card-content>
							<mat-card-actions>
								<button mat-button>Click here</button>
							</mat-card-actions>
					</mat-card>
	
			</div>

		<div class="col-sm-3 display">
				<mat-card class="example-card">
						<mat-card-header>
								<mat-card-title><h3>My Records</h3></mat-card-title>

						</mat-card-header>
						<img mat-card-image src="../../assets/3.jpg">
						<mat-card-content>
								<p>
										List of Uploaded Records
								</p>
						</mat-card-content>
						<mat-card-actions>
							<button mat-button>Click here</button>
						</mat-card-actions>
				</mat-card>

		</div>
		<div class="col-sm-3 display">
				<mat-card class="example-card">
						<mat-card-header>
								<mat-card-title><h3>Add Records</h3></mat-card-title>

						</mat-card-header>
						<img mat-card-image src="../../assets/1.jpg">
						<mat-card-content>
								<p>
										Add new records
								</p>
						</mat-card-content>
						<mat-card-actions>
							<button mat-button>Click here</button>
						</mat-card-actions>
				</mat-card>

		</div>