/* .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .modelform {
    width: 350px;
    height: 390px;
    text-align: center;
  }
.fullwidth {
  width: 100%;
} */
.modelform {
  width: auto;
  height: 390px;
  text-align: center;
}

.fullwidth{
  width:auto;
}
.p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 200px;
}
