

   <div>
    <mat-tab-group>
        <mat-tab label="Login">
            <mat-form-field>
                <input matInput placeholder="Enter EmailId or PhoneNumber">
            </mat-form-field>
            <br>
            <br>
            <mat-form-field>
                <input matInput placeholder="Enter Password">
            </mat-form-field>
            <br>
            <br>
            <button mat-raised-button color="accent">Login</button>
        </mat-tab>
    </mat-tab-group>
 </div>