<title>
    <h1>Welcome To FindMeClinic</h1>
</title>
<div>
    <mat-tab-group  class="modelform">
        <mat-tab label="Login">
            <br>
            <br>
            <mat-form-field class="fullwidth">
                <input matInput [(ngModel)]="doctor1.doctorEmail" placeholder="Enter Email" [formControl]="logFormControl">
                <mat-error *ngIf="logFormControl.hasError('required')">
                    Email
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fullwidth">
                <input matInput [(ngModel)]="doctor1.doctorPassword" placeholder="Enter Password" type="password"
                    [formControl]="logpassFormControl">
                <mat-error *ngIf="logpassFormControl.hasError('required')">
                    Please enter a value!
                </mat-error>
            </mat-form-field>
            <br>
            <br>
            <h6>Dont have account?Then Register!</h6>
            <button mat-raised-button color="primary" (click)="close()" (click)="move(doctor1)">Login</button>
        </mat-tab>
        <mat-tab label="Register">

            <mat-form-field class="fullwidth">
                <input matInput [(ngModel)]="doctor.doctorEmail" name="doctorEmail" placeholder="Enter Email"
                    [formControl]="emailFormControl">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fullwidth">
                <input matInput [(ngModel)]="doctor.doctorPhoneNumber" name="doctorPhoneNumber" placeholder="Enter PhoneNumber"
                    [formControl]="phoneFormComtrol">
                <mat-error *ngIf="phoneFormComtrol.hasError('required')">
                    Please enter a value!
                </mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="fullwidth">
                <input matInput [(ngModel)]="doctor.doctorPassword" type="password" name="doctorPassword" placeholder="Enter password"
                    [formControl]="passFormControl">
                <mat-error *ngIf="passFormControl.hasError('required')">
                    Please enter a value!
                </mat-error>
            </mat-form-field>
            <br>
            <br>

            <button mat-raised-button (click)="addDoctor(doctor)" color="primary">Register</button>
            <app-alerts></app-alerts>
        </mat-tab>
    </mat-tab-group>
</div>