<mat-form-field class="fullwidth">
  <input matInput type = "text" placeholder="ScheduleId" [(ngModel)]="schedule.scheduleId">
</mat-form-field>
<br>
<mat-form-field class="fullwidth">
  <input matInput type = "text" placeholder="Description"[(ngModel)]="schedule.description" >
</mat-form-field>
<br>
<mat-form-field class="fullwidth">
  <input matInput type = "text" placeholder="Work Place" [(ngModel)]="schedule.workPlace">
</mat-form-field>
<br>
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="schedule.scheduleDate">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<br>
<mat-form-field class="fullwidth">
  <input matInput type ="time" [(ngModel)]="schedule.startTime">
</mat-form-field>
<br>
<mat-form-field class="fullwidth">
  <input matInput type ="time" [(ngModel)]="schedule.endTime">
</mat-form-field>
<br>
<mat-form-field class="fullwidth">
  <input matInput type="number" [(ngModel)]="schedule.timePerPatient">
  <mat-hint align="start"><strong>Insert Number Only</strong> </mat-hint>
</mat-form-field>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="addSchedule(schedule)">Ok</button>
</div>