.form {
 
  width: auto;
  height: 500px;
  text-align: center;
 
  }
  
  /* .formheight{
    width:auto;
    font-size: 25px;

  } */

  .log
  {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 20px;
  }

   
