.form {
 
  width: auto;
  height: 500px;
  text-align: center;
 
  }
  
  /* .formheight{
    width:auto;
    font-size: 25px;

  } */

  .log
  {
    padding: 5px 30px 5px 30px; 
    font-size: 20px;
  }

   
