
<h1>LIST OF APPOINTMENTS</h1>
<br>

<div>
  <button (click)="onPage()"><mat-paginator #paginator  [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator></button>
<div *ngFor="let m of displayAppointments ">
  <br>
  <mat-card>
    <div class="div1">
    AppointmentId : {{m.appointmentId}}
  </div>
  <div class="div1" id="div2">
{{m.appointmentStatus}}
</div>
</mat-card>

</div>
  
<!--   
  <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="appointmentId">
          <mat-header-cell class="head" *matHeaderCellDef> </mat-header-cell> 
          <mat-cell class="cell" *matCellDef="let row">
            <button (click)="open()" mat-button color="primary">
              APPOINTMENT {{listOfAppointments.appointmentId}}
    
            </button>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="appointmentStatus">
          <mat-header-cell class="head" *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let row" class="name"> {{listOfAppointments.appointmentStatus}}
          </mat-cell>
        </ng-container>
      

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>

  </mat-table> -->
</div>