<br>
<h1>LIST OF APPOINTMENTS</h1>
<br>



<div>
    <button (click)="onPage()"><mat-paginator #paginator  [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator></button>
  <div *ngFor="let m of displayAppointments ">
    <br>
    <mat-card>
      <div class="div1">
      AppointmentId : {{m.appointmentId}}
      {{m.bookingBy}}
    
    <div class="div1" id="div2">
     
        <button class="size" mat-raised-button (click)="openDialog(m.bookingBy)">Add Prescription</button>
  </div>
</div>
  </mat-card>
 
  </div>



















<!-- <div>
  <button (click)="onPage()"><mat-paginator #paginator  [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator></button>
<div *ngFor="let m of displayAppointments ">
  <br>
  <mat-card>
    <div class="div1">
      <a (click)="open(m)">
    AppointmentId : {{m.appointmentId}}
  </a>
  </div>
  <div class="div1" id="div2">
{{m.appointmentStatus}}
</div>
</mat-card>
</div> -->
























<!-- 
  <div *ngIf="show">
    <div *ngFor="let l of displayAppointments ">
      <mat-card class="aside">
          <div class="inline">
         <div class="col-sm-3">
        <h4>Appointment Id:{{l.appointmentId}}</h4>
        <h4>{{l.bookedFor}}</h4>
        </div>
        <div class="col-sm-3 aside1">
        <h4>Name : {{l.bookingBy}}</h4>
         <h4>Age: {{patientAge}}</h4>
        <h4>Blood Group: {{bloodGroup}}</h4> 
        </div>
        </div>
        </mat-card>
      </div>
  </div>
</div> 
  -->

  <router-outlet></router-outlet>