<h4 class="head">ADD PRESCRIPTIONS</h4>
<br>
<h4>Dr.{{prescriptions.doctor.doctorName}}</h4>
<h4>Name : {{prescriptions.patient.patientFirstName}}</h4>
<h4>Age: {{prescriptions.patient.patientAge}}</h4>
<h4>Blood Group: {{prescriptions.patient.patientBloodGroup}}</h4>
<br>
<div>
  <form class="example-form">
    <br>
    <br>
    <div>
      <form class="example-form">
        <mat-form-field class="comment">
          <textarea matInput placeholder="Findings" class="form-control" id="findings" [(ngModel)]="prescriptions.findings"
            name="findings" required></textarea>
        </mat-form-field>
        <br>
        <mat-form-field class="comment">
          <textarea matInput placeholder="Add Medicines" rows="15" class="form-control" id="medicine" [(ngModel)]="prescriptions.medicine"
            name="medicine" required></textarea>
        </mat-form-field>
        <br>
      </form>
      <button class="bot" mat-raised-button color="primary" (click)="savePres(prescriptions)">Save</button>
    </div>
