<div class="main">

    <nav class="navbar navbar-expand-lg navbar-light ">
        <img src="../../assets/logo.png" class="style">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <button mat-button type="submit" class="btn btn-success">Book </button>
                </li>
                <li class="nav-item">
                    <button mat-button (click)="openPatient()" matTooltip="Login As Patient">Patient</button>
                </li>
                <li class="nav-item">
                    <button mat-button (click)="openDialog()" matTooltip="Login As a Doctor">Doctor</button>
                </li>

            </ul>
        </div>
    </nav>
    <div class="doctor-cards">
        <div class="detail">
            <div *ngFor="let doc of doctorList">
                <br>
                <mat-card class="example-card">
                    <div class="doctor-pic">
                        <img src="/assets/profile.png">
                    </div>
                    <div class="doctor-details">

                        <h2>{{doc.doctorName}}</h2>

                        <div class="doctor-basic-details">
                            <div class="doctor-basic">


                                <p><strong>{{doc.doctorSpeciality}} </strong></p>
                                <p>{{doc.doctorExperience}}</p>
                                <p>{{doc.doctorQualification}}</p>
                            </div>
                            <div class="doctor-basic1">
                                <p>
                                    <mat-icon>location_on</mat-icon>
                                    <strong>{{doc.doctorGender}}</strong>
                                </p>
                                <p>{{doc.doctorPhoneNumber}}</p>
                                <p>{{doc.doctorEmail}}</p>


                            </div>

                        </div>



                        <mat-card-content>


                            <button mat-flat-button color="primary" [routerLink]="['book',doc.doctorEmail]">Book</button>

                        </mat-card-content>
                    </div>


                </mat-card>
                <br>
            </div>
        </div>

        <!--Footer-->
        <footer class="page-footer" id="myFooter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 myCols">
                        <h5>Get started</h5>
                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Sign up</a>
                            </li>
                            <li>
                                <a href="#">Downloads</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 myCols">
                        <h5>About us</h5>
                        <ul>
                            <li>
                                <a href="#">Company Information</a>
                            </li>
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                            <li>
                                <a href="#">Reviews</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 myCols">
                        <h5>Support</h5>
                        <ul>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>
                                <a href="#">Help desk</a>
                            </li>
                            <li>
                                <a href="#">Forums</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 myCols">
                        <h5>Legal</h5>
                        <ul>
                            <li>
                                <a href="#">Terms of Service</a>
                            </li>
                            <li>
                                <a href="#">Terms of Use</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="social-networks">
                <a href="#" class="twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="facebook">
                    <i class="fa fa-facebook-official"></i>
                </a>
                <a href="#" class="google">
                    <i class="fa fa-google-plus"></i>
                </a>
            </div>
            <div class="footer-copyright">
                <p>© 2018 FindMeClinic </p>
            </div>
        </footer>

    </div>