<div class="detail" >
  <div *ngFor="let docName of doctor">
    <mat-card class="example-card">
<div class="doctor-pic">
  <img src="/assets/profile.png">
</div>
<div class="doctor-details">

  <mat-card-header>
    <mat-card-title>
      <h2>{{docName.doctorName}}</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <h3>{{docName.doctorEmail}}</h3>
      <div class="phone"></div>
      <h3>{{docName.doctorPhoneNumber}}</h3>

    </mat-card-subtitle>
  </mat-card-header>
  <div class="move">
    <h3>{{docName.doctorSpeciality}}</h3>
  </div>

  <mat-card-content>
    <p><strong>{{docName.doctorGender}}</strong></p>
    <p>{{docName.doctorQualification}}</p>



    <button mat-flat-button color="primary">Book</button>

  </mat-card-content>
</div>


</mat-card>
</div>
</div>