<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
   
    <h1 class="example-app-name">FindMeClinic</h1>
    </mat-toolbar>
    </div>

    <br>
    <br>
    <br>
    <br>
    <div>
      <mat-card class="card">
       <h2> Basic Doctor Details</h2>
       <mat-tab-group>
          <mat-tab label="Update"> 
            <br>
            <br>
            
            <mat-form-field class="formheight">
               <input matInput placeholder="Enter the Gender ">
               
              </mat-form-field><mat-icon>account_circle</mat-icon>
              <br>
              <br>
              <mat-form-field class="formheight">
                  <input matInput placeholder="Enter the Qualification ">
                 

                </mat-form-field><mat-icon>mood</mat-icon>
                <br>
                <br>
                <mat-form-field class="formheight">
                    <input matInput placeholder="Enter the speciality ">
                   
                  </mat-form-field><mat-icon>mood</mat-icon>
                  <br>
                  <br>
                  <mat-form-field class="formheight">
                      <input matInput placeholder="Enter the Experience ">
                     
                    </mat-form-field><mat-icon>mood</mat-icon>
                    <br>
                    <br>
                    
                      <mat-form-field class="example-full-width">
                          <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Enter the Date of Birth">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <br>
                      
                         <button>SAVE</button> 
            
          </mat-tab>
         
          <mat-tab label="Address Details"> 
             </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
