 @import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Cabin:400);
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.button-group{
    position: absolute;
    right:30px;
    margin:0;
}

.Head{
	position: absolute;
	margin: 0%;
	margin-left: 20%;

}
mat-button{
	min-width: 1%;
}



  .button-group{
    position: absolute;
    right:0px;
    margin:0;
}
.page-footer a:hover{
	color: white;
}

.foot{
	background: #000;
}


.security{
	position: relative;
}
.home-details-wrapper{
	margin-top: 10%;
	margin-left: 20%;
}

.page-footer img{
	width: 30%;
}

.page-footer p{
	color: aliceblue;
}

.page-footer a{
	color: lightgray;
	text-decoration: none;
}

.glass{
	background: aliceblue;
}



.options{
	text-align: center;
	/* overflow: hidden; */
	background-color: #1d2869;
	padding: 17px 0;
	
}



.options a{
	
    font-size: 100%;
    
	padding-right: 10%;

	
		color: silver;
		text-decoration: none;

}
.options a:hover{
	color: white;
}
.MedicalRecords img{
width: -10%;
height: -10%;
}

h1{
    font-size: 100px;
    color: black;
    margin-top: 20%;
}
.Appointment p{
	
	
	font-size: 30px;
    color: black;

}

.Appointment img{
	margin-left: 10%;
	margin-top: 15%;
	width: 60%;
	height: 30%;;
}
.Appointment{
	height: 84%;
}
.MedicalRecords{
	margin-top: 0px;
	padding: 0px;
}
.MedicalRecords p{
	font-size: 30px;
	color: black;
	height: 60%;

}

.appointments-section{
margin-top: 10%;
}
.appointments-section-img img{
	width: 30%;
	height: 30%;
}



/* search{ */
	
	/* background-repeat: no-repeat;
	height: auto;
	background-size: cover;
	position: relative;
	text-align: center; */
	/* width: auto; */
/* } */

.search form {
	background: rgba(17, 17, 17, 0.24);
	background: linear-gradient(#1b1b1b, #111);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	display: inline-block;
	font-size: 0px;
	margin-top: 150px;
	margin-left: 35%;
	padding: 20px;
	position: relative;
	z-index: 1;
}

.search input {
	background: aliceblue;	
	 border: 1px solid #444; 
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 rgba(241, 237, 237, 0.219);
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	/* padding: 0 10px; */
	text-shadow: 0 -1px 0 rgb(231, 223, 223);
	width: 180px;
}

.ie .search input {
	line-height: 40px;
} 

.search input::-webkit-input-placeholder {
   color: #888;
}

.search input:-moz-placeholder {
   color: #888;
} 

 .search input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}


.search input:focus::-webkit-input-placeholder { 
	color: #efe;
}

.search input:focus:-moz-placeholder {
	color: #efe;
}

.search button {
	background:aliceblue;
	background: linear-gradient(#333, #222);
	box-sizing: border-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}	

.search button:hover,
.search button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: #5f5;
	outline: none;
}

.search button:active {
	background:aliceblue;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}


@keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
} 
.mat-toolbar-row p{
	color: white
}
footer{
	background: #364EB9;
}

.example-icon {
	padding: 0 14px;
  }
  
  .example-spacer {
	flex: 1 1 auto;
  }
  .find {
margin-left: 40%;
  }
.MedicalRecords-section{
	margin-top: 10%;
}

.MedicalRecords{
	height: 100%;
}
.MedicalRecords img{
	margin-top: 10%;
}


   .Page{
	   width: 100%;
	   height: 80%;
   }
   .images img{
	   width: 50%;
	   height: auto;
   }