<mat-toolbar>
  <button mat-button>Download the App</button>
 
 <div class="Head">
 <button mat-raised-button color="primary">Book Now</button>
 <button mat-raised-button (click)="openPatient()" color="primary">Patient</button>
 <button mat-raised-button (click)="openDialog()" color="primary">Doctor</button>
 
 </div>
 
 </mat-toolbar>
 <!-- <div class="box">
 <div class="container-1">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
 
      <input type="search" id="search" placeholder="Search..." />
 
 
      <input type="search" id="location" placeholder="Search..." />
      <i class="fa fa-search-plus" aria-hidden="true"></i>
 
 
 
 </div>
 </div> -->