.main{
	background: url("../../assets/bgmain.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}

.main-toolbar{
	position: fixed;
	top: 0;
    right: 0;
    left: 0;
	z-index: 9;
}
.logo{
	float: left;
}


.button-group{
	position: absolute;
    right:30px;
    margin:0;
}

.search form {
	background: rgba(17, 17, 17, 0.24);
	background: linear-gradient(#1b1b1b, #111);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	display: inline-block;
	font-size: 0px;
	margin-top: 150px;
	padding: 20px;
	position: relative;
	z-index: 1;
	width: 100%;
}

.search input {
	background: aliceblue;	
	 border: 1px solid #444; 
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 rgba(241, 237, 237, 0.219);
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	/* padding: 0 10px; */
	text-shadow: 0 -1px 0 rgb(231, 223, 223);
	width: 45%;
	margin-right: 2px;
}

.ie .search input {
	line-height: 100px;
} 

.search input::-webkit-input-placeholder {
   color: #888;
}

.search input:-moz-placeholder {
   color: #888;
} 

 .search input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: linear-gradient(#333933, #222922);
	border-color: rgb(51, 83, 153);
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}


.search input:focus::-webkit-input-placeholder { 
	color: #efe;
}

.search input:focus:-moz-placeholder {
	color: #efe;
}

.search button {
	background:aliceblue;
	background: linear-gradient(#333, #222);
	box-sizing: border-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: flex;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}	

.search button:hover,
.search button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: rgb(85, 159, 255);
	outline: none;
}

.search button:active {
	background:aliceblue;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}
#myFooter {
	background-color:  rgba(128, 128, 133, 0.7);
	color: white;
	padding-top: 30px;
 }

#myFooter .footer-copyright {
	background-color: #333333;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
 }
 
 #myFooter .row {
	margin-bottom: 60px;
 }
 
 #myFooter .navbar-brand {
	margin-top: 45px;
	height: 65px;
 }
 
 #myFooter .footer-copyright p {
	margin: 10px;
	color: #ccc;
 }
 
 #myFooter ul {
	list-style-type: none;
	padding-left: 0;
	line-height: 1.7;
 }
 
 #myFooter h5 {
	font-size: 18px;
	color: white;
	font-weight: bold;
	margin-top: 30px;
 }
 
 #myFooter h2 a{
	font-size: 50px;
	text-align: center;
	color: #fff;
 }
 
 #myFooter a {
	color: #d2d1d1;
	text-decoration: none;
 }
 
 #myFooter a:hover,
 #myFooter a:focus {
	text-decoration: none;
	color: white;
 }
 
 #myFooter .social-networks {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 16px;
 }
 
 #myFooter .social-networks a {
	font-size: 32px;
	color: #f9f9f9;
	padding: 10px;
	transition: 0.2s;
 }
 
 #myFooter .social-networks a:hover {
	text-decoration: none;
 }
 
 #myFooter .facebook:hover {
	color: #0077e2;
 }
 
 #myFooter .google:hover {
	color: #ef1a1a;
 }
 
 #myFooter .twitter:hover {
	color: #00aced;
 }
 
 #myFooter .btn {
	color: white;
	background-color: #d84b6b;
	border-radius: 20px;
	border: none;
	width: 150px;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	line-height: 25px;
 }
 
 @media screen and (max-width: 767px) {
	#myFooter {
		text-align: center;
	}
 }
 
 .mainCard{

	 padding-top: 80px;
	padding-bottom: 80px;  
	display: inline-flex;
  flex-flow: row wrap;
  }

  .display{
     padding-left: 40px;
	 padding-right: 40px;
	 padding-bottom: 40px;
  }
  .card{
     width: auto;
	 height: auto;
	 
  }

  mat-card-content{
	  text-align: center;
  }
 
  .example-card{
	  border-radius: 10px 10px 10px 10px;
  }


 .navbar {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
 }
 .navbar-nav{
	 color: black;
	 float: right;
 }
 .navbar  button{
	color: black;
 }
 nav {
	 margin-bottom: 0%;
 }
nav {
    margin-bottom: 0%;
}

.style{
	height: auto;
	width: auto;
	max-width: 200px;
	float: left;
}
