<div class="main">

  <div class="main">
    <h2>Select a time slot to book the appointment</h2>
  </div>

  <div class="btn-group" *ngFor="let schedule of schedules">
    <button style="width:100%"> {{schedule.scheduleDate}}
    </button>
    <mat-button-toggle value="slot.slotStart" *ngFor="let slot of schedule.slots" class="style" (click)="slotSelected(slot)">
      {{slot.slotStart}}
    </mat-button-toggle>


  </div>

  <div class="bttn">
    <button mat-raised-button color="primary" (click)="openDialog()">Submit</button>
  </div>


</div>