<!-- 
<div class="super">

  <div class="main">
  Select a time slot to book the appointment
  </div>
  
<mat-tab-group class="style">
 
  <mat-tab label="Wed 19 Sep" class="style"> 


    
      <label> Morning </label>
      <mat-button-toggle value="9:00-9:30" class="pan" color="primary">
          9:00-9:30
        </mat-button-toggle>
        <mat-button-toggle value="9:30-10:00" class="pan">
          9:30-10:00
        </mat-button-toggle>
        <mat-button-toggle value="10:00-10:30" class="pan">
          10:00-10:30
        </mat-button-toggle>
        <mat-button-toggle value="10:30-11:00" class="pan">
          10:30-11:00
        </mat-button-toggle> 

        <mat-divider></mat-divider>

        <label> Afternoon </label>
      <mat-button-toggle value="9:00-9:30" class="pan" color="primary">
          9:00-9:30
        </mat-button-toggle>
        <mat-button-toggle value="9:30-10:00" class="pan">
          9:30-10:00
        </mat-button-toggle>
        <mat-button-toggle value="10:00-10:30" class="pan">
          10:00-10:30
        </mat-button-toggle>
        <mat-button-toggle value="10:30-11:00" class="pan">
          10:30-11:00
        </mat-button-toggle> 

        <mat-divider></mat-divider>

        <label> Evening </label>
      <mat-button-toggle value="9:00-9:30" class="pan" color="primary">
          9:00-9:30
        </mat-button-toggle>
        <mat-button-toggle value="9:30-10:00" class="pan">
          9:30-10:00
        </mat-button-toggle>
        <mat-button-toggle value="10:00-10:30" class="pan">
          10:00-10:30
        </mat-button-toggle>
        <mat-button-toggle value="10:30-11:00" class="pan">
          10:30-11:00
        </mat-button-toggle> 

 </mat-tab>


  <mat-tab label="Thu 20 Sep"> 
   <label> Morning </label>
      <mat-button-toggle value="9:00-9:30" class="pan" color="primary">
          9:00-9:30
        </mat-button-toggle>
        <mat-button-toggle value="9:30-10:00" class="pan">
          9:30-10:00
        </mat-button-toggle>
        <mat-button-toggle value="10:00-10:30" class="pan">
          10:00-10:30
        </mat-button-toggle>
        <mat-button-toggle value="10:30-11:00" class="pan">
          10:30-11:00
        </mat-button-toggle> 

        <mat-divider></mat-divider>

        <label> Afternoon </label>
      <mat-button-toggle value="9:00-9:30" class="pan" color="primary">
          9:00-9:30
        </mat-button-toggle>
        <mat-button-toggle value="9:30-10:00" class="pan">
          9:30-10:00
        </mat-button-toggle>
        <mat-button-toggle value="10:00-10:30" class="pan">
          10:00-10:30
        </mat-button-toggle>
        <mat-button-toggle value="10:30-11:00" class="pan">
          10:30-11:00
        </mat-button-toggle> 

        <mat-divider></mat-divider>

        <label> Evening </label>
      <mat-button-toggle value="9:00-9:30" class="pan" color="primary">
          9:00-9:30
        </mat-button-toggle>
        <mat-button-toggle value="9:30-10:00" class="pan">
          9:30-10:00
        </mat-button-toggle>
        <mat-button-toggle value="10:00-10:30" class="pan">
          10:00-10:30
        </mat-button-toggle>
        <mat-button-toggle value="10:30-11:00" class="pan">
          10:30-11:00
        </mat-button-toggle> 

  </mat-tab>
  <mat-tab label="Fri 21 Sep"> 
    <label> Morning </label>
    <mat-button-toggle value="9:00-9:30" class="pan" color="primary">
        9:00-9:30
      </mat-button-toggle>
      <mat-button-toggle value="9:30-10:00" class="pan">
        9:30-10:00
      </mat-button-toggle>
      <mat-button-toggle value="10:00-10:30" class="pan">
        10:00-10:30
      </mat-button-toggle>
      <mat-button-toggle value="10:30-11:00" class="pan">
        10:30-11:00
      </mat-button-toggle> 

      <mat-divider></mat-divider>

      <label> Afternoon </label>
    <mat-button-toggle value="9:00-9:30" class="pan" color="primary">
        9:00-9:30
      </mat-button-toggle>
      <mat-button-toggle value="9:30-10:00" class="pan">
        9:30-10:00
      </mat-button-toggle>
      <mat-button-toggle value="10:00-10:30" class="pan">
        10:00-10:30
      </mat-button-toggle>
      <mat-button-toggle value="10:30-11:00" class="pan">
        10:30-11:00
      </mat-button-toggle> 

      <mat-divider></mat-divider>

      <label> Evening </label>
    <mat-button-toggle value="9:00-9:30" class="pan" color="primary">
        9:00-9:30
      </mat-button-toggle>
      <mat-button-toggle value="9:30-10:00" class="pan">
        9:30-10:00
      </mat-button-toggle>
      <mat-button-toggle value="10:00-10:30" class="pan">
        10:00-10:30
      </mat-button-toggle>
      <mat-button-toggle value="10:30-11:00" class="pan">
        10:30-11:00
      </mat-button-toggle> 

  
  </mat-tab>
</mat-tab-group>

<div class="bttn">
<button mat-raised-button color="primary" (click)="openDialog()">Submit</button>
</div>
</div> -->

<div class="super">
 
<div class="main">
  <h2>Select a time slot to book the appointment</h2>
</div>



   <!-- <mat-button-toggle value="slot.slotStart" *ngFor="let slot of slots" class="style" (click)="slotSelected(slot)"> 
    {{slot.slotStart}}
  </mat-button-toggle>  -->

   <!-- <mat-tab-group class="style" >
    <div *ngFor="let schedule of schedules" value="schedule.scheduleDate">
        {{schedule.scheduleDate}}
    <mat-tab  value="schedule.scheduleDate" class="style"> 
        <mat-button-toggle value="slot.slotStart"  class="pan" color="primary">
           
        </mat-button-toggle>
    </mat-tab>
    </div>
  </mat-tab-group>   -->

  <div class="btn-group" *ngFor="let schedule of schedules" >
    <button style="width:100%"> {{schedule.scheduleDate}} 
      </button>
        <mat-button-toggle value="slot.slotStart" *ngFor="let slot of slots" class="style" (click)="slotSelected(slot)"> 
            {{slot.slotStart}}
          </mat-button-toggle>
        
   
  </div>

   <div class="bttn">
    <button mat-raised-button color="primary" (click)="openDialog(appointment)">Submit</button>
    </div>


  </div>
    <!-- schedule.getSlots()
    *ngFor="let slotList of schedule.getSlots()" -->