.example-selected-value {
    margin: 15px 0;
  }

  .style{
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 40px;
      margin-bottom: 60px;
  }

  .pan{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .bttn{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 40px;
  }

  .main{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
  }

















  .btn-group button {
    background-color: rgb(8, 138, 245); 
    border: 1px solid rgb(29, 29, 236);
    color: white; 
    padding: 10px 24px; 
    cursor: pointer;
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

/* .super{
    background: url("../../assets/bgmain.jpg");
  } */