
<div class="example-container" >
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">FindMeClinic</h1>
    <button mat-button color="Warning">Download The App</button>
  

      <p class="badge-style">
        <span matBadge="AD" matBadgeOverlap="false" matBadgeColor="warn"></span>
      </p>  
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav fixedTopGap="5">
      <mat-nav-list>
         <mat-list-item (click)="showFiller = !showFiller">Appointments</mat-list-item>
         <mat-list-item>Reports</mat-list-item>
        
        </mat-nav-list>

        
    </mat-sidenav>

    <mat-sidenav-content>
      <div *ngIf="showFiller" style="margin-top: 5%">
        <app-calendar></app-calendar>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  
</div>


