<div class="container">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
          Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn btn-primary" (click)="view = CalendarView.Month" [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div class="btn btn-primary" (click)="view = CalendarView.Week" [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-primary" (click)="view = CalendarView.Day" [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
  <br>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh">
    </mwl-calendar-day-view>
  </div>

  <br>
  <br>
  <br>


  <button class="btn btn-primary pull-right" (click)="openDialog()">
    Add Slots
  </button>

  <h3>My Schedules</h3>
  <br>
  <br>
  <ul type="none">
    <li *ngFor="let schedule of schedules">
      <mat-card class="sched">
        <br>Description: {{schedule.description}}
        <br>Location: {{schedule.workPlace}}
        <br>Date: {{schedule.scheduleDate}}
        <br>Schedule Beginning: {{schedule.startTime}}
        <br>Schedule Ending: {{schedule.endTime}}
        <br>Time Per Patient: {{schedule.timePerPatient}}
        <button class="delete" mat-raised-button color="warn" (click)="deleteSchedule(schedule.scheduleId)">Delete</button>
      </mat-card>
    </li>
  </ul>

  <br>

</div>